<div class="text-center">
  <h2>{{album_name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>Created by {{user.name}} on {{release_date}}</p>
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  <p>{{description}}</p>
  <p>
    <button class="btn btn-primary">Buy this Album!</button>
  </p>
</div>
